-var maxTClass, avgTClass, minTClass
    -if(item.measurements.temperature.maxT>0) maxTClass = 'avg-year-trend-temp-positive';
    -else if(item.measurements.temperature.maxT<0) maxTClass = 'avg-year-trend-temp-negative';

    -if(item.measurements.temperature.minT>0) minTClass = 'avg-year-trend-temp-positive';
    -else if(item.measurements.temperature.minT<0) minTClass = 'avg-year-trend-temp-negative';

    -if(item.measurements.temperature.avgT>0) avgTClass = 'avg-year-trend-temp-positive';
    -else if(item.measurements.temperature.avgT<0) avgTClass = 'avg-year-trend-temp-negative';
-var CD=item.measurements.temperature.avgTD?'°C':'';
-var CN=item.measurements.temperature.avgTN?'°C':'';
-var wiClassD
    -if(item.measurements.humidity.maxHD == null) wiClassD='wi-cloud-refresh'
    -else if(item.measurements.pressure.avgPD<750)
        -if(item.measurements.humidity.avgHD>=80) wiClassD='wi-day-sprinkle'
        -else wiClassD='wi-day-sunny'
    -else if(item.measurements.pressure.avgPD>=750 && item.measurements.pressure.avgPD<=760)
        -if(item.measurements.humidity.avgHD>80) wiClassD = 'wi-day-fog'
        -else if(item.measurements.humidity.avgHD>=75) wiClassD='wi-day-sprinkle'
        -else wiClassD='wi-day-cloudy'
    -else wiClassD='wi-day-sunny'
-var wiClassN
    -if(item.measurements.humidity.maxHN == null) wiClassN='wi-cloud-refresh'
    -else if(item.measurements.pressure.avgPN<750)
        -if(item.measurements.humidity.avgHN>=75) wiClassN='wi-night-sprinkle'
        -else wiClassN='wi-night-clear'
    -else if(item.measurements.pressure.avgPN>=750 && item.measurements.pressure.avgPN<=760)
        -if(item.measurements.humidity.maxHN>90) wiClassN = 'wi-night-fog'
        -else if(item.measurements.humidity.avgHN>=75) wiClassN='wi-night-sprinkle'
        -else wiClassN='wi-night-cloudy'
    -else wiClassN='wi-night-clear'
-var TD = item.measurements.temperature.avgTD?item.measurements.temperature.avgTD:'&nbsp;'
-var TN = item.measurements.temperature.avgTN?item.measurements.temperature.avgTN:'&nbsp;'
-var divClassD = TD>0?'avg-year-trend-temp-positive':'avg-year-trend-temp-negative';
-var divClassN = TN>0?'avg-year-trend-temp-positive':'avg-year-trend-temp-negative';
-var uvColors = ['uv-green','uv-green','uv-green', 'uv-yellow', 'uv-yellow', 'uv-yellow','uv-orange','uv-orange','uv-red','uv-red','uv-red','uv-purple'];
.col-sm-2(class="dayforecast-card", style="background: transparent")
    .col.panel.panel-default
        .forecast-header.panel-title.panel-heading(style="font-family:Helvetica")
            span(class=(item.dow==6||item.dow==7?'holiday':''), style='display:inline-block;min-width:30%') #{item.weekday}
            span(style='display:inline-block;min-width:30%')
                b(class=(item.dow==6||item.dow==7?'holiday':'')) #{item.day}
            span(class=(item.dow==6||item.dow==7?'holiday':''), style='display:inline-block;min-width:30%') #{item.month}
            .uv-index.uv(class=uvColors[item.measurements.uv])
        .panel-body.varela(style='padding:0px')
            div(style='vertical-align: top;width:50%;height:70px;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc; display:inline-block')
                .wi(class=wiClassD,style='font-size:40px; width:100%; text-align:center; padding-top:10px')
            div(style='width:50%;height:70px; border-bottom: 1px solid #ccc; display:inline-block')
                div.avg-year-trend-temp(class=divClassD, style='width:100%;font-size:28px;text-align:center; padding-top:15px') !{Math.abs(TD)}
                    sup.wi.wi-celsius.celsius
            div(style='vertical-align: top;width:50%;height:70px;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc; display:inline-block')
                .wi(class=wiClassN,style='font-size:40px; width:100%; text-align:center; padding-top:10px')
            div(style='width:50%;height:70px; border-bottom: 1px solid #ccc; display:inline-block')
                div.avg-year-trend-temp(class=divClassN, style='width:100%;font-size:28px;text-align:center; padding-top:15px') !{Math.abs(TN)}
                    sup.wi.wi-celsius.celsius
            div(style='height:35px;width:25%;vertical-align:top;padding-top:8px;border-right: none; display:inline-block')
                div.wi.wi-barometer(style='width:100%;padding:0')
            div(style='padding-top:5px;height:35px;width:25%; border: none; display:inline-block')
                div(class='varela-pressure') #{item.measurements.pressure.minP.toPrecision(3)}
            div(style='padding-top:5px;height:35px;width:25%; border: none; display:inline-block')
                div(class='varela-pressure') #{item.measurements.pressure.avgP.toPrecision(3)}
            div(style='padding-top:5px;height:35px;width:25%; border: none; display:inline-block')
                div(class='varela-pressure') #{item.measurements.pressure.maxP.toPrecision(3)}
            div(style='height:35px;width:25%;vertical-align:top;padding-top:8px;border-right: none;border-top: 1px solid #ccc; display:inline-block')
                div.wi.wi-humidity(style='width:100%;')
            div(style='padding-top:5px;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(class='varela-humidity') #{item.measurements.humidity.minH.toPrecision(2)}
            div(style='padding-top:5px;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(class='varela-humidity') #{item.measurements.humidity.avgH.toPrecision(2)}
            div(style='padding-top:5px;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(class='varela-humidity') #{item.measurements.humidity.maxH.toPrecision(2)}
            div(style='height:35px;width:25%;vertical-align:top;padding-top:8px;border-right: none;border-top: 1px solid #ccc; display:inline-block')
                div.wi.wi-thermometer(style='width:100%;')
            div(style='padding-top:5px;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(class=minTClass,style='text-align:center') #{Math.abs(item.measurements.temperature.minT)}
            div(style='padding-top:5px;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(class=avgTClass,style='text-align:center;box-sizing:border-box;') #{Math.abs(item.measurements.temperature.avgT)}
            div(style='padding-top:5px;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(class=maxTClass,style='text-align:center') #{Math.abs(item.measurements.temperature.maxT)}
            
            div(style='height:35px;width:25%;vertical-align:top;padding-top:8px;border-right: none;border-top: 1px solid #ccc; display:inline-block')
                .wi.wi-sunrise(style="color:#000;padding-top:0px; padding-left:3px;font-size:18px;padding-left:5px;")
            div(style='text-align:center;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(style="padding-top: 8px;font-size:smaller;padding-right:3px") &nbsp;
            div(style='height:35px;width:25%;vertical-align:top;padding-top:8px;border-right: none;border-top: 1px solid #ccc; display:inline-block')
                .wi.wi-sunset(style="color:#000; padding-left:6px;font-size:18px;")
            div(style='text-align:center;padding-top:5px;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(style="padding-top: 3px;font-size:smaller;padding-right:3px") &nbsp;
            
            //div(class=uvColors[item.measurements.uv] style='height:35px;width:25%;vertical-align:top;padding-top:8px;border-right: none;border-top: 1px solid #ccc; display:inline-block')
                .uv(style="color:#000;padding-top:0px; padding-left:3px;font-size:18px;padding-left:5px;")
            //div(class=uvColors[item.measurements.uv] style='text-align:center;height:35px;width:50%; border-top: 1px solid #ccc; display:inline-block')
                div(style="font-size:smaller; padding-top:5px; font-size:24px")
                    strong=item.measurements.uv
            //div(class=uvColors[item.measurements.uv] style='text-align:center;height:35px;width:25%; border-top: 1px solid #ccc; display:inline-block')
                div(style="font-size:smaller; padding-top:5px; font-size:24px") &nbsp;
                 


